body
{
  color: #000;
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
}

h2,h1
{
  margin-bottom: 0px;
  font-weight: bold;
  color: #015d92;
}

h1
{
  font-size: 140%;
}

h2
{
  font-size: 100%;
}

a:link, a:visited, a:hover, a:active
{
  color: #d73515; 
}

a:link, a:visited
{
  text-decoration: none;
}

a:active, a:hover
{
  text-decoration: none;
}

hr
{
  border-top: 2px solid #ccccff;
  height: 0;
  clear: both;
}

p
{
  line-height: 1.3em;
  margin-bottom: 1em;
  margin-top: 0px;
}

h3
{
  font-weight: bold;
  font-size: 90%;
  margin-top: 20px;
  margin-bottom: 2px;
  color: #015d92;
  text-align: left;
}

ul
{
  margin-top: 1ex;
  margin-left: 0em;
  padding-left: 0em;
  margin-bottom: 1ex;
  list-style-type: none;
}

li
{
  padding-bottom: 8px;
}

span.exclamation
{
  font-weight: bold;
}

